{% extends "bootstrap/base.html" %}
{% block title%}color Pallete{% endblock %}
{% block styles %}
    {{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='styles.css')}}">
{% endblock %}
{% block content %}
<div>
<h1>Welcome to Doyin's color palette</h1>
<h3>This website is to show the hex codes used in an image </h3>
<p>To use it, you click on the choose image button  pick the image you want and click the upload button to upload  and the hex codes with a pallet with be shown </p>
</div>
    <div class="colors ">{% for item in form %}
<h4 style="background-color:{{ item}};">{{item}}</h4>
{% endfor %}

</div>
<form class="file" enctype="multipart/form-data" method="POST">
  <input type="file"  name="file">
  <input class="btn" type="submit" value="Upload">
</form>
{% endblock %}